<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <style>
        #box{
            
            margin-top: 3%;
        }
        #news{
            width: 40%;
            height:20vh;
            margin-left: 5%;
        }
        #admin{
            width: 40%;
            height: 10vh;
            margin-left: 5%;
            margin-top: 2%;
        }
        #art{
            width: 40%;
            height: 10vh;
            margin-left: 5%;
            margin-top: 2%;
        }
    </style>
</head>
<body>
    <div class="container"id="box">
        <div class="row">
            <a class="btn btn-primary"id="news" href="newsList/">
                <h1>yangiliklar</h1>
            </a>
            <a class="btn btn-primary"id="news" href="contest/">
                <h1>Konkurslar</h1>
            </a>
        </div>
        <div class="row">
            <a class="btn btn-primary"id="admin"href="#">
                <h1>Raxbarlar</h1>
            </a>
            <a class="btn btn-primary" id="admin"href="#">
                <h1>Kontakt</h1>
            </a>
        </div>
    </div>
</body>
</html>