<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raxbarlar</title>
    <link rel="icon" href="{% static 'img/065bd2220a0ad3b1ac90a7c3e0f8961e-removebg-preview (1).png'%}">
    <link rel="stylesheet" href="{%static 'fontawesome-free-5.15.4-web/css/all.css'%}">
    <link rel="stylesheet" href="{% static 'dizayn/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .container{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            
        }
    </style>
</head>
<body>
    {% include 'header.html'%}
    <div style="margin-bottom: 100px;" class="container">
        <div style="margin-top: 10px;height: auto;display: flex;padding: 5px;">
            <div style="width: 20%;">
                <img src="{% static 'img/121.jpg'%}" alt="" style="width: 100%;">
            </div>
            <div style="width:60%; margin-left: 10%;text-align: center;">
            <b style="font-size: 25px;">Kollej direktori</b><br><br>
            <b style="font-size: 19px;"><i>Xakimov Umedjan Bahadirovich</i></b><br><br>
            <i>27.11.1974 yil Buxoro viloyati olot tumani direktori 10.07.2013 yil, B №89 Tasviriy va amaliy san'at 2011 yilda. Nizomiy yonidagi Toshkent davlat pedagogika universiteti</i>
            </div>
        </div>
        <hr>
        <div style="margin-top: 10px;height: auto;display: flex;padding: 5px;">
            <div style="width: 20%;">
                <img src="{% static 'img/121.jpg'%}" alt="" style="width: 100%;">
            </div>
            <div style="width:60%; margin-left: 10%;text-align: center;">
            <b style="font-size: 25px;">Тошкент шахри, Учтепа тумани  Маънавий-маърифий ишлари бўйича директор ўринбосари 09.11.2018 йил</b><br><br>
            <b style="font-size: 19px;"><i>Зокиржонов Фарходжон Зокиржон ўғли</i></b><br><br>
            <i>Б №96-К  Интерьерни лойҳалаш 19.06.2006 йилда К. Бехзод номидаги Миллий рассомлик ва дизайн институти  </i>
            </div>
        </div>
        <hr>
        <div style="margin-top: 10px;height: auto;display: flex;padding: 5px;">
            <div style="width: 20%;">
                <img src="{% static 'img/121.jpg'%}" alt="" style="width: 100%;">
            </div>
            <div style="width:60%; margin-left: 10%;text-align: center;">
            <b style="font-size: 25px;">Қашқадарё вилояти, Яккабоғ тумани  Ўқув ишлари бўйича директор ўринбосари</b><br><br>
            <b style="font-size: 19px;"><i>Ражабов Нодирбек Зокирович</i></b><br><br>
            <i>17.02.2012 йил,Б № 14 К  Физика  ва астрономия ўқитиш методикаси 07.10.2007 йилда Низомий  номидаги Тошкент давлат педагогика университети  </i>
            </div>
        </div>
        <hr>
        <div style="margin-top: 10px;height: auto;display: flex;padding: 5px;">
            <div style="width: 20%;">
                <img src="{% static 'img/121.jpg'%}" alt="" style="width: 100%;">
            </div>
            <div style="width:60%; margin-left: 10%;text-align: center;">
            <b style="font-size: 25px;">Самарқанд вилояти, Пайариқ тумани  Хўжалик  ишлари бўйича директор ўринбосари</b><br><br>
            <b style="font-size: 19px;"><i>Тагаев Бахтиёр Абдугаппарович</i></b><br><br>
            <i>10.01.2012 йил,
                Б №112-К  Тасвирий  санъат ва мухандислик графикаси 2007 йилда
                 Низомий номидаги Тошкент давлат педагогика университети  </i>
            </div>
        </div>
        <hr>
        <div style="margin-top: 10px;height: auto;display: flex;padding: 5px;">
            <div style="width: 20%;">
                <img src="{% static 'img/121.jpg'%}" alt="" style="width: 100%;">
            </div>
            <div style="width:60%; margin-left: 10%;text-align: center;">
            <b style="font-size: 25px;">Андижон вилояти, Бўз тумани  Ишлаб чиқариш (амалиёт) ишлари бўйича директор ўринбосари</b><br><br>
            <b style="font-size: 19px;"><i>Холмухамедов Жасур Ботирович</i></b><br><br>
            <i>02.05.2017 йил,
                Б № 185-И  Тасвирий санъат ва мухандислик графикаси 2007 йилда
                Низомий номидаги Тошкент Давлат Педагогика Университети</i>
            </div>
        </div>
    </div>
    


    <!-- <p>
        Xamidjon Umidjon Bahadirovich
        27.11.1974 yil Buxoro viloyati
        olot tumani direktori
        10.07.2013 yil, B №89 Tasviriy va
        amaliy san'at 2011 yilda. Nizomiy
        yonidagi Toshkent davlat pedagogika
        universiteti
    </p> -->
</body>
</html>