{% load static%}

<div class="container" style="animation: 1s textAnimate ease-in;">
    <div class="row">
        <div class="col">
            <img src="{% static 'img/065bd2220a0ad3b1ac90a7c3e0f8961e-removebg-preview (1).png'%}" style="width: 20%;"><br>
            <p style="font-size: 15px;">Pavel Petrovich Benkov nomidagi<br>respublika ixtisoslashtrlgan rassomlik maktabi</p>
        </div>
        <div class="col">
            <b style="color: #7A7A7A;float: right;">Ish vaqti:<i style="color: black;"> 8:00/16:00</i></b><br>
            <b style="color: #a89d9d;float: right;">Call center telefon raqamlari:<b style="color: black;">  (71) 245-05-56; (71) 245-07-65;</b></b><br>
            <!-- <p style="color: #7A7A7A;float: right;">Qabul bo'yicha yangiliklarni <b style="color: black;"> shu yerda</b> kuzatib boring</p> -->
        </div>
    </div>
    <div class="kol">
        <ul >
            <li style="text-decoration: underline;"><a href="/" style="color: red;"><i class="fas fa-home"></i>Asosiy</a></li>
            <li><a href="/raxbarlar"><i class="fas fa-users-cog"></i>Rahbarlar</a></li>
            <li><a href="/courses"><i class="fas fa-puzzle-piece"></i>Yo'nalishlar</a></li>
            <li><a href="/news"><i class="far fa-newspaper"></i>Yangiliklar</a></li>
            <li><a href="/contest"><i class="fab fa-affiliatetheme"></i>Konkurslar</a></li>
            <li><a href="/contact"><i class="far fa-id-card"></i>Kontaktlar</a></li>
        </ul>
    </div>
</div>
<hr>
